.gallery {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .gallery {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px){
  .gallery {
    max-width: 1184px;
  }
}