.header__map-image {
  position: absolute;
  min-width: 95%;
  margin: 9% 0 0 0;
  aspect-ratio: 304 / 85;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 100;
}