.lead__images-composition {
  position: relative;
  width: 100%;
  max-width: 928px;
  margin: 40px 0 0 0;
  align-self: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .lead__images-composition {
    margin: 56px 0 0;
  }
}


@media screen and (min-width: 1280px) {
  .lead__images-composition {
    max-width: 984px;
    margin: 64px 0 0;
  }
}