.epilogue__subtitle {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .epilogue__subtitle {
    align-self: center;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}