.epilogue {
  position: relative;
  width: 100%;
  align-self: center;
  aspect-ratio: 320 / 200;
  background-image: url(../../images/epilogue__background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1184px) {
  .epilogue {
    max-width: 1184px;
  }
}

