.intro {
  display: flex;
  flex-direction: column;
  align-self: center;
}


@media screen and (min-width: 1024px) {
  .intro {
    width: 928px;
  }
}
@media screen and (min-width: 1280px) {
  .intro {
    width: 984px;
  }
}