.places__place-description {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 90%;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .places__place-description {
    width: 100%;
  }
}