.header__top-menu {
  width: 90%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__top-menu {
    width: 93.75%;
  }
}
@media screen and (min-width: 1024px) {
  .header__top-menu {
    width: 90.625%;
  }
}
@media screen and (min-width: 1280px) {
  .header__top-menu {
    width: 92.5%;
  }
}
